# SaberDroid Extras
# Superuser
import /init.superuser.rc

on init
    export ANDROID_CACHE /cache
    export TERMINFO /system/etc/terminfo
    export TERM linux

    # Run sysinit
    start sysinit

on boot

# sysinit (/system/etc/init.d)
service sysinit /system/bin/sysinit
    user root
    oneshot
    disabled
